#mainmap {
	height: 400px;
	width: 100%;
	background-color: #E6F1F6;
}

#content-wrapper{
	width: 980px;
	background-color: purple;
	margin: 0 auto;
	position: relative;
}

/*main content -- left column */

#signupform{
/*rename to 'left-column'*/
	width: 650px;
	float: left;
	display: inline;
	background-color: red;
	height-min: 400px;
}


#gallery {
	


}

#main_pic{
        position: relative;
        width: 200px;
        height: 200px;
        background:white;
        padding: 2px;
        border: 1px solid 
        margin: 5px 0 5px 5px;
        float: left;
        cursor: pointer;
        z-index: 2;		


}

.thumbnail {
	overflow: hidden;
	position: relative;
	width: 40px;
	height: 40px;
	background:white;
	padding: 2px;
	border: 1px solid 
	margin: 5px 0 5px 5px;
	float: left;
	cursor: pointer;
	z-index: 2;
}

/*action column -- right column */
#right-column{
	width: 330px;
	float: left;
	background-color: yellow;

}

#welcome-action{
        width: 330px;
        float: left;
        background-color: yellow;

}

/*footer*/
footer {
	width: 100%;
	background-color: green;


}

label {
	display:block;
}
